@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-primary {
  background-color: #9757ff;
}

.border-primary {
  border-color: #9757ff;
}

.primary {
  color: #9757ff;
}
